<h1> Liste over medlemmer</h1>

<div class="searchbar">
    <span>Søk:</span>
    <input type="text" #listFilter (keyup)="0" />
</div>

<ul>
  <li *ngFor="let Member of members| memberFilterPipe:listFilter.value" [class.selected]="Member===selectedMember" (click)="onSelect(Member)">
    <span class="student-list"> {{Member.username}}  </span>
  </li>
</ul>


<div id="under" *ngIf="selected">
  <h1>{{selectedMember.username}}</h1>
  <label for="year">Registrert for: </label><span name="year">{{selectedMember.year}}/{{selectedMember.year +1 }}</span><br>
  <label for="receipt">Vipps-kvitering: </label><span name="receipt">{{selectedMember.receiptVipps}}</span><br>
  <label for="payment">Godkjent:</label><span name="payment" *ngIf="selectedMember.payment == 1">JA</span><span name="payment" *ngIf="selectedMember.payment==0">NEI</span><br>
  <button (click)="confirmMember()" *ngIf="selectedMember.payment==0">Godkjenn betaling</button>
  <button (click)="deleteMember()">Fjern medlem</button>
</div>

<div class="melding">
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  <p>{{message}}</p>
</div>
