<h1> Registrering og verifisering av student </h1>
<form>

<div class="form-group">
  <label for="username">NTNU brukernavn </label>
  <input type="text" name="username" [(ngModel)]="model.username">
</div>

<div class="form-group">
  <label for=firstname>Fornavn </label>
  <input type="text" name="firstname" [(ngModel)]="model.firstname">
</div>

<div class="form-group">
  <label for="lastname">Etternavn</label>
  <input type="text" name="lastname" [(ngModel)]="model.lastname">
</div>

<div class="form-group">
  <label for="studyprogram">Studieprogram</label>
  <input type="number" name="studyprogram" [(ngModel)]="model.studyId">
</div>

<div class="form-group">
  <label for="year">Oppstartsår</label>
  <input type="number" name="year" [(ngModel)]="model.year">
</div>

<div class="form-group">
  <label for="studentCardId">Studentkort ID</label>
  <input type="number" name="studentCardId" [(ngModel)]="model.studentCardId">
</div>

<div class="form-group">
  <input type="submit" value="Registrer" (click)="onSubmit()">
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

</div>
</form>

<div class="registred">
  <p>{{message}}</p>
</div>
