<h3> Endre student </h3>

<div id="studentOverview">
  <input type="text" [(ngModel)]="filterText">
<li *ngFor="let student of students | filter: filterText"
[class.selected]="student===selectedStudent" (click)="onSelect(student)" >
  <span id="indicator" class="badge"> {{student.firstname}} {{student.lastname}}
    <div *ngIf="selectedStudent">
      <p> Navn: </p>
        <ul> {{student.firstname}} {{student.lastname}} </ul>
        <input type="submit" value="Endre">
    </div>
  </span>
</li>
</div>
