<h1> Liste over registrerte studenter</h1>

<div class="searchbar">
    <span>Søk:</span>
    <input type="text" #listFilter (keyup)="0" />
</div>

<ul>
  <li *ngFor="let Student of students| studentFilterPipe:listFilter.value" [class.selected]="Student===selectedStudent" (click)="onSelect(Student)">
    <span class="student-list">{{Student.username}} - {{Student.firstname}} {{Student.lastname}}</span>
  </li>
</ul>


<div id="under" *ngIf="selected">
  <h2>{{selectedStudent.username}}</h2>
  <label for="email">Epost: </label><span name="email">{{selectedStudent.username}}@stud.ntnu.no</span>
  <label for="firstname">Fornavn: </label><input type="text" name="firstname" [value]="(selectedStudent.firstname)"/><br>
  <label for="lastname">Etternavn: </label><input type="text" name="lastname" [value]="(selectedStudent.lastname)"/><br>
  <label for="year">År: </label><input type="number" name="year" [value]="(selectedStudent.year)"/><br>
  <label for="verified">Verifisert: </label> <span name="verified"*ngIf="selectedStudent.verified">JA</span><span name="verified" *ngIf="!selectedStudent.verified">NEI</span><br>
  <button (click)="onClick()">Lagre endringer</button>
</div>

<div class="melding">
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  <p>{{message}}</p>
</div>
