/* Master Styles */

#header{
  color: white;
  background-color: #404040;
  padding: 30px;
  width: 100%;
}
#header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

#content{
  margin-left: 30px;
}

h1 {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 35px;
}
h2, h3 {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  color: rgba(0,0,0,0.5);
  font-family: Cambria, Georgia;
}

#ledRed {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #940;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
    display:inline-block;
}
#ledBlue {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #4AB;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
    display: inline-block;
}

input[text], button {
  color: #2fa4e7;
  font-family: Cambria, Georgia;
}

#under{
  background-color: rgba(0,0,0,0.3);
  padding: 30px;
  width: 50%;
}
#rent{
  background-color: rgba(0,0,0,0.3);
  padding: 30px;
  width: 30%;
  overflow: hidden;
  float: right;
}
#lockerOverview{
  width: auto;
  clear: both;
}

#under h2, h3{
  color: #404040;

}
#indicator {
    overflow: hidden;
    white-space: nowrap;
    width: 5px;
    height: 5px;
    color: black;
    background-color: white;
}

.badge{
  color: #2fa4e7;
  font-size: 20px;
}

.student-list{
  color: #2fa4e7;
  font-size: 20px;
}

.student-list:hover{
  cursor: pointer;
  color: #404040;
}

.searchbar{
  
}

ul{
  font-size: 30px;
  list-style-type: none;
  font-style: italic;
}
ul span{
  font-style: normal;
}

li:hover{
  cursor: pointer;
  color: #404040;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #404040;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

label {
  display: inline-block;
  width: 15em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

#form-group {

}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
