/* Master Styles */

#header{
  color: white;
  background-color: #404040;
  padding: 30px;
  width: 100%;
}
#header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

#content{
  margin-left: 30px;
}

h1 {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 35px;
}
h2, h3 {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {

}
body, input[text], button {
  color: rgba(0,0,0,0.5);
  font-family: Cambria, Georgia;
}

#under{
  background-color: rgba(0,0,0,0.3);
  padding: 30px;
  width: 50%;
}

#under h2, h3{
  color: #404040;

}


ul{
  font-size: 30px;
  list-style-type: none;
  font-style: italic;
}
ul span{
  font-style: normal;
}
li:hover{
  cursor: pointer;
  color: #404040;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #404040;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
