<h1>Opprett event</h1>
<form id="registerform">

<div class="form-group">
  <label for="name">Navn </label>
  <input type="text" name="name" [(ngModel)]="model.name">
</div>

<div class="form-group">
  <label for="description">Beskrivelse </label>
  <input type="text" name="description" [(ngModel)]="model.description">
</div>

<div class="form-group">
  <label for="date">Dato</label>
  <input type="text" name="date" [(ngModel)]="model.date">
</div>


<div class="form-group">
  <label for="participants">Antall deltakere</label>
  <input type="number" name="participants" [(ngModel)]="model.participants">
</div>

<div class="form-group">
  <label for="dinnerParticipants">Antall deltakere på middag</label>
  <input type="number" name="dinnerParticipants" [(ngModel)]="model.dinnerParticipants">
</div>



<div class="form-group">
  <input type="submit" value="Registrer" (click)="onRegisterEvent()">
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

</div>
</form>
<div class="registred">
  <p>{{message}}</p>
</div>
