<div  id="lockerOverview" *ngIf="!rentLocker">
  <div id="rent" *ngIf="selectedLocker">
    <ul><li id="link" (click)="onAttend()"> Lei skap </li></ul>
    <div id="attend" *ngIf="selectAttend">
    <lockerRent></lockerRent>
    </div>
  </div>
<h3>Skapoversikt</h3>
<ul class="skap">
<p>
  <input type="text" [(ngModel)]="term"/>
  <button type="submit" (click)="search()"> Søk </button>
</p>
  <li *ngFor="let locker of lockers" [class.selected]="locker===selectedLocker" (click)="onSelect(locker)" >
    <span id="indicator" class="badge"> Skap: {{locker.id}} Etasje: {{locker.floor}}
    <div *ngIf="locker.taken" id="ledRed"></div>
    <div *ngIf="!locker.taken" id="ledBlue"></div>
    </span>


  </li>
</ul>
</div>
<div id="lockerRent" *ngIf="rentLocker">
<lockerPayment></lockerPayment>
</div>
